.c-facedat-group {
    .u-title {
        .fz(15px, 2);
        background-color: @bg-light;
        //color:#555;
        padding: 0 10px;
        // .pointer;
        .bold;
        margin-bottom: 10px;
        user-select: none;
    }
    .u-list {
        list-style: none;
        padding: 0 0 0 10px;
        margin-bottom: 10px;
        font-size: 0;
        li {
            padding: 5px 0;
            .flex;
            flex-flow: row;
        }
        label,
        input,
        span {
            //.dbi;.y(top);
            .fz(14px);
        }
        label {
            .mr(10px);
            font-weight: normal;
            .w(80px);
            color: #666;
        }
        .x(right);
        input,.u-range {
            //.w(290px);
            flex: 1;
            .mr(5px);
            .pointer !important;
        }
        .el-slider__runway{
            margin:10px 0;
        }
        span {
            .w(50px);
            .mr(10px);
            .nobreak;
            .bold;
            color: #fb6701;
            .x(right);
        }
    }
    .u-decals {
        list-style: none;
        padding: 0 0 0 10px;
        margin-bottom: 10px;

        img {
            .size(32px);
            .y;
            .mr(5px);
            .r(3px);
        }
        span {
            .fz(14px);
            .nobreak;
            .ml(5px);
            .bold;
        }

        .u-free{
            .fz(12px);
            color:#49c10f;
        }
        .u-price{
            .fz(12px);
            color:#fba524;
        }
        .u-dcolor{
            .fz(12px);
            color:#999;
            .ml(3px);
        }
        .u-dflip{
            .fz(12px);
            color:#555;
            .ml(3px);
        }
    }
}

.c-facedat {
    .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
        .bold;
    }
}


.c-facedata-btns{
    .x;
    .mt(20px);
}

.c-facedat-setting {
    border: 1px dashed @border-hr;
    padding: 10px 20px;
    background-color: @bg-light;

    .el-form-item__label {
        color: #999;
    }

    .u-tip {
        .fz(12px);
        color: #999;
    }
    .u-warning{
        .fz(12px);
        color:#fb6701;
        .ml(10px);
    }

    .el-form-item{
        .mb(0);
    }
}